<!-- Thanks to Dion for live generator idea -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>No More Meme Generator</title>
  <meta name="title" content="No More Meme Generator">
  <meta name="description" content="To use: https://nomore.pablito.tech/your_text_here" />
  <style>
    body {
      background-color: #2d2d2d;
      font-family: "Helvetica", sans-serif;
      color: white;
      font-size:30px}
    h1 {font-size:60px;}
    h2 {font-size:40px;}
  </style>
</head>
<body onload="document.getElementById('output').innerText = '​'">

<center><h1>NO MORE GENERATOR</h1>

  <div id="input-container" style="display: flex; align-items: center; border-radius: 4px; overflow: hidden; width: 50%;">
    <input type="text" id="input" placeholder="Text here" style="margin-left:auto; width: 50%; padding: 10px; border: none; outline: none; background-color: white; font-size: 24px;">
    <button id="button" onclick="generate_output()" style="margin-right:auto; padding: 10px; border: none; background-color: #ee93e7; font-size: 24px;">Generate!</button>
  </div>
  
  <h2 id="output" style="margin-top:3%; cursor: default; pointer-events: default; display: inline-block;" onclick="copyToClipboard(this);" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';" innerText="Wow"></h2></h2>
  <br>
  <div style="background-color:#aa50ea; border-radius: 4px; height: 10px; width: 80%;"></div>


<h1>TIPS:</h1>
<p>You can use a _ character as a space.</p>
<p>You can append <b><u>?q=differentimage</u></b> to show a different image. </p>
<p>Avoid special characters if possible.</p>

</center>
<script>
  const input = document.getElementById("input");
  const button = document.getElementById("button");
  const output = document.getElementById("output");

  function generate_output() {
    const text = input.value;
    const url = window.location.origin;
    let outputText = `${url}/${text}`;
    outputText = outputText.replace(/ /g, "_")
    output.innerText = outputText;
  };

  function copyToClipboard(element) {
    text = element.textContent
    navigator.clipboard.writeText(text);
    
    element.innerText = "Copied!";
  setTimeout(() => { element.innerText = text;}, 2000); // Change back after 2 seconds
  }

  input.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    button.click();}
  }); 


</script>


</body>
</html>
